      /* colors
red:
blue:385F71
black:040403
*/

      body {
        line-height: 1.45;
        background-color:#F7F7F7;
      }
      
      h2:before {
        display: block;
        content: " ";
        margin-top: -75px;
        height: 75px;
        visibility: hidden;
      }
      /*Navigation bar*/
      
      .topnav {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        border: 5px solid black;
        background-color:#F3F3F3 ;
        font-family: Montserrat;
        font-size: 1.25em;
      }

      /*Compnay name navbar*/
      
      #nameDrop {
        float: right;
        color: white;
        background-color: black;
        padding: 14px 16px;
      }
      /*Navigation bar list of items formatting*/
      
      ul {
        list-style-type: none;
        overflow: hidden;
        margin: 0;
        padding: 0;
      }
      
      li {
        float: left;
      }
      
      a {
        display: block;
        text-align: center;
        color: black;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      a:hover {
        cursor: pointer;
        color: white;
        background-color: black;
      }



      /*Heading*/
      
      .heading {
        padding-top: 7%;
        padding-bottom: 2.6%;
        text-align: center;
        font-size: 3.2em;
        font-family: Montserrat;
        color: #003049;
              }
      /*Formatting for all paragraphs*/

      
      .para {
        margin: 0 auto;
        display: block;
        width: 55%;
              }


      .mission{
            font-style: italic;
            padding-bottom:5%;
                  }
      
      sectionHeadingDiv {
        margin: 0 -200% 0 0;
      }
      
      .section {
        padding-bottom: 5%;
      }
      
      h2 {
        font-size: 2em;
        text-align: left;
        border-bottom: 3px solid black;
        text-transform: uppercase;
        font-family: Montserrat;
        color: #121113;
        
      }
      
      p {
        font-size: 1.5em;
        text-align: newspaper;
        font-family: Lato;
        color: #3C3C3B;
       
      }
      /*Contact form*/
      
      form {
        border: 10px solid black;
        padding: 5% 0 5% 0;
        margin: 0 auto;
        margin-top: 10%;
        display: block;
        text-align: center;
      }
      
      #formElements {
        width: 75%;
        border: none;
        border-bottom: 2px solid black;
        background-color: transparent;
        padding-top: 15px;
      }
      
      button {
        cursor: pointer;
        margin-top: 7%;
        border: none;
        font-family: Montserrat;
        font-size: 1.2em;
        color: black;
        border-radius: 0.15em;
        background-color: #FFCFD2;
        padding: 1% 2% 1% 2%;
      }
      
      button:hover {
        background-color: #FF2E1F;
        color: white;
      }
      
      textarea,
      input {
        font-family: Montserrat;
        font-size: 20px;
      }
      
      input:focus,
      textarea:focus {
        outline: 0;
      }




      /*Media Queries go here*/
      
      @media (min-width:320px) and (max-width:374px) {
        /* smartphones, iPhone, portrait 480x320 phones */
        .para {
          width: 85%;
        }
        .heading {
          font-size: 1.1em;
        }
        h2 {
          font-size: 1.1em;
        }
        p {
          font-size: 1.025em;
        }
        textarea,
        input {
          font-size: 12px;
        }
        #formElements {
          width: 90%;
        }
        button {
          font-size: .85em;
        }
      }
      
      @media (min-width:375px) and (max-width:480px) {
        /* smartphones, iPhone, portrait 480x320 phones */
        .para {
          width: 90%;
        }
        .heading {
          font-size: 1.2em;
        }
        h2 {
          font-size: 1.35em;
        }
        p {
          font-size: 1.1em;
        }
        textarea,
        input {
          font-size: 15px;
        }
        #formElements {
          width: 90%;
        }
        button {
          font-size: .95em;
        }
      }
      
      @media (min-width:481px) and (max-width:640px) {
        /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
        .para {
          width: 80%;
        }
        .heading {
          font-size: 1.7em;
            padding-top: 6%;
          padding-bottom: 3%;
        }
        h2 {
          font-size: 1.5em;
        }
        p {
          font-size: 1.25em;
        }
        textarea,
        input {
          font-size: 18px;
        }
        #formElements {
          width: 75%;
        }
        button {
          font-size: 1em;
        }
      }
      
      @media (min-width:641px) and (max-width:799px) {
        /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
        .para {
          width: 65%;
        }
        .heading {
          font-size: 2em;
          padding-top: 8%;
          padding-bottom: 3%;
        }
        h2 {
          font-size: 1.5em;
        }
        p {
          font-size: 1.35em;
        }
        textarea,
        input {
          font-size: 20px;
        }
        #formElements {
          width: 80%;
        }
        button {
          font-size: 1.2em;
        }
      }

@media (max-width: 640px) {
  nav { display: none; }
}
